app/backend/venv/


__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd
*.pyo
*.log


.ipynb_checkpoints/


.env
.env.* 
*.env


docker-compose.override.yml
*.local


.DS_Store
Thumbs.db


.vscode/
.idea/


*.mp4
*.png
*.jpg
*.jpeg
*.json
*.csv
*.npy
*.npz


app/frontend/node_modules/
app/frontend/dist/
app/backend/venv/
